.container{
 width: 100vw;
 height: 100vh;
 background-color: rgba(165, 228, 207, 0.918);   
 padding: 0px;
 margin: 0px;
 box-sizing: border-box;
 display: flex;
 justify-content: center;
 align-items: center;
}

.subcontainer{
    width: 400px;
    height: 500px;
    background-color: white;
    border: solid black 2px;
   border-radius: 1rem;
    display: flex;
    flex-direction: column;
     align-items: center;
     padding: 2px;
     box-shadow: 5px 5px 5px black;
     
} 

.box1{
    /* width:380px ; */
}
 
img{
    width: 380px;
    height: 300px;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 2px ;
    padding-top: 2px;
    margin: 1px;
    display: flex;
}

h2{
    width: 363px;
}

p{
    width: 363px;
}